In [1]:
import os
import csv
import pandas as pd

In [4]:
#loading and reading the csv file
crimes_csv = "../toronto-crime-analysis/crimes_csv.csv"
crimes_pd = pd.read_csv(crimes_csv)
crimes_pd.head()

,Division,FID,Hood_ID,Index_,Lat,Long,MCI,Neighbourhood,event_unique_id,occurrencedate,...,premisetype,reporteddate,reportedday,reporteddayofweek,reporteddayofyear,reportedhour,reportedmonth,reportedyear,ucr_code,ucr_ext
0,D22,1,14,501,43.638527,-79.538010,Assault,Islington-City Centre West (14),GO-201524666,1.368420e+12,...,Outside,1.420430e+12,5,Monday,5,14,January,2015,1430,100
1,D52,2,77,502,43.642914,-79.381477,Robbery,Waterfront Communities-The Island (77),GO-20141383912,1.378090e+12,...,Commercial,1.390280e+12,21,Tuesday,21,13,January,2014,1610,100
2,D52,3,77,503,43.642914,-79.381477,Robbery,Waterfront Communities-The Island (77),GO-20141383912,1.378090e+12,...,Commercial,1.390280e+12,21,Tuesday,21,13,January,2014,1610,100
3,D51,4,73,504,43.651279,-79.368263,Break and Enter,Moss Park (73),GO-20141291615,1.378960e+12,...,Apartment,1.388980e+12,6,Monday,6,13,January,2014,2120,200
4,D31,5,22,505,43.741817,-79.530853,Break and Enter,Humbermede (22),GO-20141456404,1.378960e+12,...,Commercial,1.391320e+12,2,Sunday,33,17,February,2014,2120,200

In [36]:
#calculating the most common crimes in Toronto
crime_type = []
crime_count = []

most_common_crimes_count = crimes_pd.groupby('MCI').size()
for i in range(len(most_common_crimes_count)):
    crime_type.append(most_common_crimes_count[0])
    crime_count.append(most_common_crimes_count[1])
most_common_crimes = pd.DataFrame({'Crime Type' : crime_type,
                                   'Crime Count' : crime_count
                                  })
most_common_crimes

   Crime Type  Crime Count
0        1270          400
1        1270          400
2        1270          400
3        1270          400

In [25]:
#
highest_crime_rates = crimes_pd.groupby('Neighbourhood').size()
highest_crime_rates = highest_crime_rates.sort_values(ascending=False)
print(highest_crime_rates)

Neighbourhood
Waterfront Communities-The Island (77)      62
Church-Yonge Corridor (75)                  51
West Hill (136)                             47
Bay Street Corridor (76)                    42
Woburn (137)                                42
North St.James Town (74)                    40
Downsview-Roding-CFB (26)                   37
Clairlea-Birchmount (120)                   36
South Riverdale (70)                        32
Malvern (132)                               31
Bendale (127)                               31
York University Heights (27)                30
Wexford/Maryvale (119)                      30
West Humber-Clairville (1)                  29
Moss Park (73)                              29
Don Valley Village (47)                     28
Glenfield-Jane Heights (25)                 26
Dovercourt-Wallace Emerson-Junction (93)    26
Annex (95)                                  26
Mount Pleasant West (104)                   25
O'Connor-Parkview (54)                      25
Roncesvalles (86)                           25
Rouge (131)                                 25
Parkwoods-Donalda (45)                      24
Mount Olive-Silverstone-Jamestown (2)       22
Black Creek (24)                            22
Banbury-Don Mills (42)                      22
Trinity-Bellwoods (81)                      21
Birchcliffe-Cliffside (122)                 21
Kensington-Chinatown (78)                   21
                                            ..
High Park North (88)                         6
Bathurst Manor (34)                          6
Mount Pleasant East (99)                     6
Mount Dennis (115)                           6
Lansing-Westgate (38)                        5
Bridle Path-Sunnybrook-York Mills (41)       5
Danforth East York (59)                      5
Junction Area (90)                           5
Runnymede-Bloor West Village (89)            5
Greenwood-Coxwell (65)                       5
North Riverdale (68)                         4
Humewood-Cedarvale (106)                     4
Playter Estates-Danforth (67)                4
Eringate-Centennial-West Deane (11)          4
Blake-Jones (69)                             4
Rexdale-Kipling (4)                          4
Lambton Baby Point (114)                     3
Kingsway South (15)                          3
Dufferin Grove (83)                          3
Edenbridge-Humber Valley (9)                 2
Etobicoke West Mall (13)                     2
Bayview Woods-Steeles (49)                   2
Princess-Rosethorn (10)                      2
Keelesdale-Eglinton West (110)               2
Markland Wood (12)                           2
Centennial Scarborough (133)                 2
Elms-Old Rexdale (5)                         1
Henry Farm (53)                              1
Broadview North (57)                         1
Yonge-St.Clair (97)                          1
Length: 140, dtype: int64